html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: sans-serif;
    padding-bottom: 10vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ), url("./assets/img/cta-bg.jpg");
}

.nav-bar{
    margin:0;
    display: flex;
    justify-content: space-around;
    position:sticky;
    top: 0;
}

.pg-navs{
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.site-title{
    width: 30vw;
}

.mainpg-item-style{
    font-size:larger;
    font-weight:bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}
.main-content-initial{
    padding: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid-big-text{
    font-size: 7vh;
}
.main-scrollto-down{
    width: 10vw;
    height: 10vh;
}

.caret-down-img{
    width: 30vw;
    height: 30vh;
}

.nav-drop-1{
    position: relative;
    display: inline-block;
}
.nav-drop-2{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
}

.nav-drop-down:hover .dropdown-content{
    display: block;
}




/* Next section*/

.main-content-1{
    margin-top: 0;
    padding-bottom: 10vh;
}
.main-content-mid{
    margin: 0;
    padding-top: 10vh;
    background-image: url("./assets/img/about-bg.jpg");
    display: flex;
    justify-content: space-between;

}

.mid-left-aside{
    padding: 2vw;
}

.laside-head{
    width: 25vw;
    color: #31304D;
    font-size: xx-large;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.laside-content{
    width: 35vw;
    color: #31304D;
    font-size: larger;
}
.laside-button{
    border-radius: 25vw;
    background-color: #89B9AD;
    width: 8vw;
    height: 4vh;
    border-style: none;
    margin-top: 3vh;
    font-size: medium;
    font-weight: 500;

}

.mid-right-aside{
    display: flex;
    margin-right: 6vw;
    padding-bottom: 10vh;

}

.raside-img-style{
    padding-top: 2vw;
    width: 3vw;
}
.raside-content{
    margin-bottom: 10vh;
    width: 20vw;
}

.raside-content-head{
    font-weight: 700;
    font-size: 3vh;
}
.raside-parent-1{
    padding-right: 2vw;
}


/*Next Section*/
.service-imgs{
    width: 10vw;
}

.content-mid-next{
    text-align: center;
    background-color: white;
}

.service-offering-box{
    display: flex;
    padding: 2vw;
    justify-content: space-between;
}



.img-overlay{
    position: relative;
    text-align: center;
}

.overlay-text{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: black;
    font-weight: 800;
    
}
.img-services{
    margin-top: 1vh;
    height: 9vh;
}
.service-imgs{
    width: 3vw;
}
.services-text{
    font-size: 1.2vw;
    color: #31304D;
}

.service-container{
    border: solid 4vh gray;
    border-radius: 2vh;
    margin: 2vh;
    text-align: start;
    padding: 2vw;
    box-shadow: 0.3vw 0.1vw 0.2vw 0.2vw #F5F4F8;
    border-style:none;
}

.service-desc{
    color: black;
    font-weight: bold;
    font-size: large;

}
.service-desc-long{
    color: #414141;
    font-weight: 500;
    font-size: medium;
}

.showcase-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #F2F6FA;
    padding: 10vh;
}


.showcase-img{
    height: 10vh;
}

.showcase{
    display: flex;
}